# GetYourGuide Data Analyst Take Home Task  by Emmanuel Nti

## Introduction
- I would solve the task following four major steps; I would first preprocess the data sets and ensure they are cleaned, in the second step, I would anlyse the data in the quest to answer the questions, the third step would be a short decription of findings, and the SQL Query would be the last step.

## Step 1: Data Preprocessing

I would import needed libraries, write a funtion to load the datasets, would do a couple of cleaing such as removing duplicates, coverting the dates to a single timezone, and preview the data summary and descriptions. I would name the dataframes according to the relevant task (task 1 and 2).

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
%matplotlib inline
import warnings
import datetime
warnings.filterwarnings("ignore")


def data_preprocessing (task_1_data_path,task_2_data_path):
    data_task1 = pd.read_csv(task_1_data_path)
    data_task2 = pd.read_csv(task_2_data_path)
    
    print("Initial data size:", data_task1.shape[0])
    print("Initial data size:",data_task2.shape[0])
    data_task1['date_of_checkout'] =  pd.to_datetime(data_task1['date_of_checkout'], infer_datetime_format=True, utc=True )
    data_task1['date_of_travel'] =  pd.to_datetime(data_task1['date_of_travel'],  infer_datetime_format=True, utc=True )
    data_task2['date_of_creation'] = pd.to_datetime(data_task2['date_of_creation'],  infer_datetime_format=True,utc=True )
    data_task2['date_of_checkout'] = pd.to_datetime(data_task2['date_of_checkout'],  infer_datetime_format=True ,utc=True)
    data_task2['update_timestamp'] = pd.to_datetime(data_task2['update_timestamp'],  infer_datetime_format=True ,utc=True)
    data_task2['cycle_timestamp'] = pd.to_datetime(data_task2['cycle_timestamp'],  infer_datetime_format=True ,utc=True)
    data_task2['week'] = pd.to_datetime(data_task2['week'],  infer_datetime_format=True, utc=True) 
    data_task2.drop_duplicates(inplace=True)
    data_task1.drop_duplicates(inplace=True)
    data_task1.reset_index(inplace=True, drop=True)
    data_task2.reset_index(inplace=True, drop=True)
    return  data_task1, data_task2
    
data_task1,data_task2 = data_preprocessing("data_task1.csv","data_task2.csv")


# Displaying the data
print()
print ('\033[1m  Task 1 Data \033[0m')
print()

data_task1.info()
display(data_task1.head(5))
display(data_task1.describe().T)

print()
print ('\033[1m  Task 2 Data \033[0m')
print()
data_task2.info()
display(data_task2.sample(5))
display(data_task2.describe().T)

Initial data size: 137988
Initial data size: 196488

  Task 1 Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131431 entries, 0 to 131430
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   order_id                 131431 non-null  object
 1   booking_id               131431 non-null  object
 2   customer_id              131431 non-null  object
 3   net_revenue              131431 non-null  float64
 4   gross_merchandise_value  131431 non-null  float64
 5   date_of_checkout         131431 non-null  datetime64[ns, UTC]
 6   date_of_travel           131431 non-null  datetime64[ns, UTC]
 7   activity_category        124898 non-null  object
 8   device_id                131431 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(2), int64(1), object(4)
memory usage: 9.0+ MB

,order_id,booking_id,customer_id,net_revenue,gross_merchandise_value,date_of_checkout,date_of_travel,activity_category,device_id
0,ea647a26545133eb1178627c660eb307,79110c8c61651a17c71d36d1ff400902,2e08815f0bc331f3c8239676b9755701,76.416113,362.809890,2017-08-04 21:31:19+00:00,2017-08-06 18:00:00+00:00,City Cruise,1
1,c9d995fdd3f8f46113f72719428e58c0,cb3f1a6b758322c3750297bbbba75162,99a84ab22128410a7ca82a8848314880,30.105888,100.377201,2018-07-08 13:48:15+00:00,2018-07-11 10:15:00+00:00,City Cruise,3
2,838a05584192eab5758dc76eb8754382,1d84c6ef74f4213bc111a31230e75d18,7d2de46dab587a091d4d795f3466ec02,16.083138,41.534976,2017-08-17 13:45:36+00:00,2017-08-17 07:30:00+00:00,Attraction Ticket,3
3,c552f12c32f6e4eaf8b67b088ba263ed,bf7f177122241fb49d8905a3c22a28c8,c8899bd2bdc56ef116a38ec0f2c2cfa2,13.950031,76.161595,2017-08-31 03:33:30+00:00,2017-09-02 12:15:00+00:00,Attraction Ticket,2
4,7474f90401e812a747c518061a0e964c,2b1b6db082b298d7a69d683d9415ecfe,e408bdd3d03e4f4189f48f0e8e9c2ec2,12.713799,51.909630,2018-08-20 17:35:47+00:00,2018-08-21 08:00:00+00:00,Attraction Ticket,2

,count,mean,std,min,25%,50%,75%,max
net_revenue,131431.0,33.084933,35.844339,-19.549436,12.556240,23.536890,41.353177,1143.417760
gross_merchandise_value,131431.0,132.391280,142.243355,0.000000,50.952156,92.002334,163.849237,5251.720124
device_id,131431.0,1.732301,0.910452,1.000000,1.000000,2.000000,2.000000,5.000000

  Task 2 Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196436 entries, 0 to 196435
Data columns (total 32 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date_of_creation           196436 non-null  datetime64[ns, UTC]
 1   date_of_checkout           196436 non-null  datetime64[ns, UTC]
 2   bookings                   196436 non-null  int64
 3   coupon_information         81178 non-null   object
 4   update_timestamp           196436 non-null  datetime64[ns, UTC]
 5   cycle_id                   196436 non-null  int64
 6   cycle_timestamp            196436 non-null  datetime64[ns, UTC]
 7   purchase_type_id           196436 non-null  int64
 8   is_fraud                   195572 non-null  object
 9   week                       196436 non-null  datetime64[ns, UTC]
 10  tour_category_id           195572 non-null  float64
 11  date_of_travel             195572 non-null  object
 12  commission_rate            195572 non-null  float64
 13  shopping_cart_id_a         196436 non-null  int64
 14  customer_id_a              196436 non-null  int64
 15  customer_address_id_a      196436 non-null  int64
 16  billing_id_a               196436 non-null  int64
 17  coupon_id_a                196436 non-null  int64
 18  reseller_id_a              196436 non-null  int64
 19  reseller_campaign_id_a     196436 non-null  int64
 20  gyg_campaign_id_a          196436 non-null  int64
 21  currency_id_a              196436 non-null  int64
 22  shopping_cart_status_id_a  196436 non-null  int64
 23  coupon_segment_id_a        196436 non-null  int64
 24  attribution_id_a           196436 non-null  int64
 25  device_id_a                196436 non-null  int64
 26  exchange_rate_a            196436 non-null  float64
 27  gmv_a                      196436 non-null  float64
 28  gmv_after_coupons_a        196436 non-null  float64
 29  visitor_id_a               196436 non-null  int64
 30  session_id_a               196436 non-null  int64
 31  token_a                    196436 non-null  int64
dtypes: datetime64[ns, UTC](5), float64(5), int64(19), object(3)
memory usage: 48.0+ MB

,date_of_creation,date_of_checkout,bookings,coupon_information,update_timestamp,cycle_id,cycle_timestamp,purchase_type_id,is_fraud,week,...,shopping_cart_status_id_a,coupon_segment_id_a,attribution_id_a,device_id_a,exchange_rate_a,gmv_a,gmv_after_coupons_a,visitor_id_a,session_id_a,token_a
100938,2018-11-12 12:20:26+00:00,2018-11-12 12:27:50+00:00,1,NaN,2018-11-12 12:27:08+00:00,0,2019-10-15 01:21:00.533000+00:00,1,False,2018-11-11 23:00:00+00:00,...,-559580957,-559580957,-1823081949,1765031574,5.658798,8.902928,8.902928,-331773566,1187505411,-1224223960
78528,2019-02-01 20:06:43+00:00,2019-02-01 20:15:17+00:00,1,NaN,2019-02-01 20:12:20+00:00,0,2019-10-15 01:21:00.533000+00:00,1,False,2019-01-27 23:00:00+00:00,...,-559580957,-559580957,1023896466,1765031574,5.658798,4.775379,4.775379,-1603246914,-2061146982,1196074232
100651,2018-09-27 13:36:25+00:00,2018-09-27 13:40:54+00:00,1,[],2018-09-27 13:37:19+00:00,0,2019-10-15 01:21:00.533000+00:00,1,False,2018-09-23 22:00:00+00:00,...,-559580957,-559580957,1023896466,1765031574,6.643005,19.362921,19.362921,-2010384677,2026756800,-1489919919
132797,2018-09-08 13:08:51+00:00,2018-09-08 13:56:05+00:00,1,[],2018-09-08 13:54:01+00:00,0,2019-10-15 01:21:00.533000+00:00,1,False,2018-09-02 22:00:00+00:00,...,-559580957,-559580957,-559580957,-559580957,5.658798,16.290464,16.290464,247458078,1583818981,863535533
77965,2018-10-07 15:40:31+00:00,2018-10-07 15:45:35+00:00,3,[],2018-10-07 15:44:36+00:00,0,2019-10-15 01:21:00.533000+00:00,1,False,2018-09-30 22:00:00+00:00,...,-559580957,-559580957,1023896466,-559580957,5.658798,49.826088,49.826088,1037565262,-453212902,1878891899

,count,mean,std,min,25%,50%,75%,max
bookings,196436.0,1.282861e+00,8.603249e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.200000e+01
cycle_id,196436.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
purchase_type_id,196436.0,1.457986e+00,7.056970e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
tour_category_id,195572.0,7.131450e+01,6.979284e+01,0.000000e+00,4.000000e+00,3.600000e+01,1.330000e+02,4.920000e+02
commission_rate,195572.0,2.579783e+01,8.175881e+00,0.000000e+00,2.000200e+01,2.500000e+01,3.000000e+01,1.000000e+02
shopping_cart_id_a,196436.0,6.285012e+05,1.240184e+09,-2.147472e+09,-1.075905e+09,-2.219020e+05,1.077168e+09,2.147482e+09
customer_id_a,196436.0,3.048526e+06,1.238698e+09,-2.147448e+09,-1.069702e+09,4.833974e+06,1.073632e+09,2.147476e+09
customer_address_id_a,196436.0,4.806040e+06,1.241018e+09,-2.147479e+09,-1.068856e+09,2.631770e+06,1.080596e+09,2.147467e+09
billing_id_a,196436.0,-3.731592e+07,1.249359e+09,-2.147482e+09,-1.146079e+09,-5.038523e+07,1.045824e+09,2.147477e+09
coupon_id_a,196436.0,-1.638097e+09,2.861339e+08,-2.146919e+09,-1.670924e+09,-1.670924e+09,-1.670924e+09,2.139067e+09
reseller_id_a,196436.0,6.458913e+08,1.615157e+09,-2.143574e+09,-1.670924e+09,1.910521e+09,1.910521e+09,2.146113e+09
reseller_campaign_id_a,196436.0,-8.260341e+07,1.233574e+09,-2.147211e+09,-1.583473e+09,9.332118e+08,9.332118e+08,2.145956e+09
gyg_campaign_id_a,196436.0,-1.651311e+09,2.293722e+08,-1.982704e+09,-1.670924e+09,-1.670924e+09,-1.670924e+09,2.100926e+09
currency_id_a,196436.0,-9.814313e+08,1.067964e+09,-2.017639e+09,-1.712319e+09,-1.712319e+09,6.437216e+07,1.951875e+09
shopping_cart_status_id_a,196436.0,-5.595810e+08,0.000000e+00,-5.595810e+08,-5.595810e+08,-5.595810e+08,-5.595810e+08,-5.595810e+08
coupon_segment_id_a,196436.0,-5.278119e+08,2.705604e+08,-1.823082e+09,-5.595810e+08,-5.595810e+08,-5.595810e+08,1.765032e+09
attribution_id_a,196436.0,-3.691012e+08,9.852422e+08,-1.823082e+09,-5.595810e+08,-5.595810e+08,-3.970649e+08,1.765032e+09
device_id_a,196436.0,1.593048e+08,1.198419e+09,-1.823082e+09,-5.595810e+08,-5.595810e+08,1.765032e+09,1.765032e+09
exchange_rate_a,196436.0,3.367629e+02,5.758062e+03,4.834334e+00,5.658798e+00,5.658798e+00,6.442276e+00,1.539664e+05
gmv_a,196436.0,2.363115e+01,3.039557e+01,0.000000e+00,7.762595e+00,1.477507e+01,2.801818e+01,1.150576e+03
gmv_after_coupons_a,196436.0,2.344576e+01,3.022681e+01,0.000000e+00,7.698191e+00,1.469362e+01,2.783017e+01,1.150576e+03
visitor_id_a,196436.0,-5.188908e+06,1.241194e+09,-2.147464e+09,-1.083144e+09,-8.259852e+06,1.071669e+09,2.147481e+09
session_id_a,196436.0,-1.088864e+06,1.228058e+09,-2.147425e+09,-1.056128e+09,4.200000e+01,1.050604e+09,2.147469e+09
token_a,196436.0,-4.736535e+06,1.239652e+09,-2.147447e+09,-1.081301e+09,-1.033197e+07,1.069320e+09,2.147483e+09

The data have been successfully loaded, duplicates have been removed, and dates have been convert to UTC. However, from the preview, I see a couple of additional cleaning needed.

### Data_task1 further Cleaning

Checking the activity categories we have

In [2]:
display(data_task1.device_id.unique())
display(data_task1.activity_category.unique())

array([1, 3, 2, 5, 4], dtype=int64)

array(['City Cruise', 'Attraction Ticket', 'Attraction Walking Tour',
       'Day Trip', 'Other', 'Hop On Hop Off', 'Transfer', nan,
       'City Motorized Tour', 'City Walking Tour', 'City Card',
       'Multi Day Trip'], dtype=object)

I see we have null activity categories in there (not defined), are they a lot?

In [3]:
display(data_task1[ data_task1["activity_category"].isnull()].shape)
display(data_task1[ data_task1["activity_category"].isnull()].sample(2))

(6533, 9)

,order_id,booking_id,customer_id,net_revenue,gross_merchandise_value,date_of_checkout,date_of_travel,activity_category,device_id
119493,fc45bef77d4bf67408f1eb7f34c21c5e,7b433a5e9b103d92d72e24938757bf52,4dac9fb16903d9e27856d1c209c6f050,19.391877,77.567506,2017-02-23 06:17:27+00:00,2017-03-03 09:30:00+00:00,NaN,1
92403,112c8a86967961d89242e700dca3fcbb,b5f1ccbf8f419a1adecf236e2b505908,7498b15827e7cd599635f4cfcb55bb31,25.633637,102.558787,2017-10-23 17:19:20+00:00,2017-11-10 08:00:00+00:00,NaN,1

There apears to be cases where GMV is = 0. Let's investigate

In [4]:
print("Cases where both GMV and NR is 0:", data_task1[(data_task1["gross_merchandise_value"]==0) & (data_task1["net_revenue"]==0)].shape[0])
print("Cases where GMV is 0 and NR is not:", data_task1[(data_task1["gross_merchandise_value"]==0) & (data_task1["net_revenue"]!=0)].shape[0])
print("Cases where GMV is not 0 and NR is:", data_task1[(data_task1["gross_merchandise_value"]!=0) & (data_task1["net_revenue"]==0)].shape[0])

Cases where both GMV and NR is 0: 1020
Cases where GMV is 0 and NR is not: 0
Cases where GMV is not 0 and NR is: 17

I would drop rows with zero GMV as net revenue is zero as well.

In [5]:
data_task1= data_task1[data_task1["gross_merchandise_value"]!=0]
display(data_task1.shape)
display(data_task1.head(2))

(130411, 9)

,order_id,booking_id,customer_id,net_revenue,gross_merchandise_value,date_of_checkout,date_of_travel,activity_category,device_id
0,ea647a26545133eb1178627c660eb307,79110c8c61651a17c71d36d1ff400902,2e08815f0bc331f3c8239676b9755701,76.416113,362.809890,2017-08-04 21:31:19+00:00,2017-08-06 18:00:00+00:00,City Cruise,1
1,c9d995fdd3f8f46113f72719428e58c0,cb3f1a6b758322c3750297bbbba75162,99a84ab22128410a7ca82a8848314880,30.105888,100.377201,2018-07-08 13:48:15+00:00,2018-07-11 10:15:00+00:00,City Cruise,3

The data for task 1 is cleaned. Moving on to data for task 2.

### Data_task2 further Cleaning

I see there is a fraud column. Let's investigate

In [6]:
data_task2["is_fraud"].unique()

array([False, True, nan], dtype=object)

In [7]:
display(data_task2[data_task2["is_fraud"]==True][["exchange_rate_a", "commission_rate", "gmv_a", 
                                          "gmv_after_coupons_a","coupon_information"]].shape)

display(data_task2[data_task2["is_fraud"]==True][["exchange_rate_a", "commission_rate", "gmv_a", 
                                          "gmv_after_coupons_a","coupon_information"]].head())

display(data_task2[data_task2["is_fraud"].isnull()][["exchange_rate_a", "commission_rate", "gmv_a", "gmv_after_coupons_a"]].commission_rate.unique())

(452, 5)

,exchange_rate_a,commission_rate,gmv_a,gmv_after_coupons_a,coupon_information
258,5.658798,18.000,85.809070,85.809070,[]
963,5.658798,25.002,46.215666,46.215666,[]
1392,24.262643,20.000,63.506288,63.506288,NaN
2132,5.658798,25.000,29.550143,29.550143,[]
2360,8.486919,15.874,19.851635,19.851635,NaN

array([nan])

All cases where the fraud column is not defined do not have commission rate. In cases like this, we can not calculate net revenue. I would drop them.

In [8]:
data_task2 = data_task2[~data_task2["is_fraud"].isnull()]
display(data_task2.shape)
display(data_task2.head(2))

(195572, 32)

,date_of_creation,date_of_checkout,bookings,coupon_information,update_timestamp,cycle_id,cycle_timestamp,purchase_type_id,is_fraud,week,...,shopping_cart_status_id_a,coupon_segment_id_a,attribution_id_a,device_id_a,exchange_rate_a,gmv_a,gmv_after_coupons_a,visitor_id_a,session_id_a,token_a
0,2018-09-01 12:49:24+00:00,2018-09-01 13:18:03+00:00,1,[],2018-09-01 13:02:58+00:00,0,2019-10-15 01:21:00.533000+00:00,1,False,2018-08-26 22:00:00+00:00,...,-559580957,-559580957,-559580957,1765031574,5.658798,72.359966,72.359966,-1969293373,-1030158483,-1722411927
1,2018-09-01 14:12:47+00:00,2018-09-01 14:17:23+00:00,1,[],2018-09-01 14:16:54+00:00,0,2019-10-15 01:21:00.533000+00:00,1,False,2018-08-26 22:00:00+00:00,...,-559580957,-559580957,1765031574,1765031574,5.658798,8.334656,8.334656,2091086248,1962332134,-652614116

There are 32 columns, I would filter what is needed now and do some cleaning before the analysis begin.

In [ ]:
data_task2_filtered = data_task2.loc[:, data_task2.columns.isin(["date_of_checkout", "week", "customer_id_a","bookings",
                                                                 "commission_rate","device_id_a","visitor_id_a", "session_id_a","purchase_type_id","gyg_campaign_id_a",
                                                             "attribution_id_a","exchange_rate_a", "gmv_a", "gmv_after_coupons_a"])]
data_task2_filtered['checkout_month'] = data_task2_filtered['date_of_checkout'].dt.strftime('%Y-%m')
data_task2_filtered.customer_id_a = data_task2_filtered.customer_id_a.astype(str)
data_task2_filtered.gyg_campaign_id_a= data_task2_filtered.gyg_campaign_id_a.astype(str)
data_task2_filtered.attribution_id_a = data_task2_filtered.attribution_id_a.astype(str)
data_task2_filtered.device_id_a= data_task2_filtered.device_id_a.astype(str)
data_task2_filtered.visitor_id_a= data_task2_filtered.visitor_id_a.astype(str)
data_task2_filtered.session_id_a= data_task2_filtered.session_id_a.astype(str)


data_task2_filtered.customer_id_a= data_task2_filtered.customer_id_a.str.replace('-', '')
data_task2_filtered.gyg_campaign_id_a= data_task2_filtered.gyg_campaign_id_a.str.replace('-', '')
data_task2_filtered.attribution_id_a= data_task2_filtered.attribution_id_a.str.replace('-', '')
data_task2_filtered.device_id_a= data_task2_filtered.device_id_a.str.replace('-', '')
data_task2_filtered.visitor_id_a= data_task2_filtered.visitor_id_a.str.replace('-', '')
data_task2_filtered.session_id_a= data_task2_filtered.session_id_a.str.replace('-', '')
data_task2_filtered.commission_rate = data_task2_filtered.commission_rate/100
data_task2_filtered["gmv_eur"] = data_task2_filtered.exchange_rate_a*data_task2_filtered.gmv_after_coupons_a
data_task2_filtered["net_revenue"] = data_task2_filtered.commission_rate*data_task2_filtered.gmv_eur
display(data_task2_filtered.info())
display(data_task2_filtered.sample(2))

All datasets are cleaned!

## Step 2: Data Analysis

## Task 1
- Would plot count of bookings over time.
- Analyse the activity categories. 
- And look into the unique booking behaviour of devices.

In [ ]:
fig = px.line(data_task1.groupby(data_task1['date_of_checkout'].dt.date)['booking_id'].nunique().reset_index(),
              x="date_of_checkout", y="booking_id", title="<b>Count of Bookings Over Time</b>")

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False,margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(line_color="#01b44c")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Date</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")
fig.show()

Bookings spike during the summer months when a lot of people go on holidays and around New Year's Eve. With the two years of data, there is a clear seasonal trend in bookings.

In [ ]:
activity_categories= data_task1.groupby("activity_category", dropna=False)["gross_merchandise_value"].sum().to_frame().sort_values(by ="gross_merchandise_value", ascending=True).reset_index()
activity_categories.fillna(value="Undefined", inplace=True)
fig = px.bar(activity_categories, y='activity_category', x='gross_merchandise_value',title= "<b>GMV by Category</b>",  text='gross_merchandise_value')


fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False, margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside',marker_color = "#01b44c")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b> Activity Category</b>")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b> GMV (Million)</b>")

fig.show()

In [ ]:
activity_categories= data_task1.groupby("activity_category", dropna=False)["net_revenue"].sum()\
.to_frame().sort_values(by ="net_revenue", ascending=True).reset_index()
activity_categories.fillna(value="Undefined", inplace=True)
fig = px.bar(activity_categories, y='activity_category', x='net_revenue',title= "<b>Net Revenue by Category</b>", 
             text='net_revenue')


fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False, margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside',marker_color = "#01b44c")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b> Activity Category</b>")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b> Net Revenue (Million)</b>")

fig.show()

Day Trip and Attraction Tickets generated the top 2 highest GMV and NR. City Cruise generated the 5th highest GMV but it is the third highest net revenue generator. Is commission rate higher?

In [ ]:
fig = px.line(data_task1.groupby([data_task1['date_of_checkout'].dt.date, data_task1["activity_category"]])['booking_id'].nunique().reset_index(),
              x="date_of_checkout", y="booking_id", color="activity_category" ,title="<b>Bookings by Category Over Time</b>")

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=True,margin=dict(t=30,l=8,b=8,r=10,),
                  legend_title_text='Activity Category', legend=dict(orientation="h"))
#fig.update_traces(line_color='#15b01a')
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Date</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")
fig.show()

A lot of bookings are for attraction or day trip.

In [ ]:
fig = px.line(data_task1.groupby([data_task1['date_of_checkout'].dt.date, data_task1["device_id"]])['booking_id'].nunique().reset_index(),
              x="date_of_checkout", y="booking_id", color="device_id" ,title="<b>Device Bookings Over Time</b>",
             color_discrete_sequence=["#fc5a50","#6a79f7","#01b44c","#5d1451","#fd8d49"])

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=True,margin=dict(t=30,l=8,b=8,r=10),legend_title_text='Device Id')
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Date</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")

fig.show()

Bookings on devices 4 and 5 turn to be the lowest.

In [ ]:
device_filter= data_task1[data_task1["device_id"].isin([4,5])]

fig = px.line(device_filter.groupby([device_filter['date_of_checkout'].dt.date, device_filter["device_id"]])['booking_id'].nunique().reset_index(),
              x="date_of_checkout", y="booking_id", color="device_id" ,color_discrete_sequence=["#15b01a","#fd8d49"],title="<b>Bookings by Device Over Time</b>")


fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=True,margin=dict(t=30,l=8,b=8,r=10))
fig.update_layout(legend_title_text='Device Id', legend=dict(orientation="v",yanchor="bottom",y=0.93,xanchor="right",x=1))
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Date</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")
fig.show()

The bookings are not encoraging over time. Booking on device 5 does not pick up even during the peak season. Which device is device 5 exactly?

Oh and let's check booking distribution among customers ( I would filter as there are few large bookings)

In [ ]:
bookings = data_task1.groupby("customer_id")["booking_id"].count().to_frame()
bookings =bookings[bookings["booking_id"]<50]
fig = go.Figure()
fig.add_trace(go.Histogram(x=bookings["booking_id"],bingroup=30, marker_color="#01b44c"))


fig.update_layout( title_x=0.5, margin=dict(t=30,l=8,b=8,r=10), title={'text': "<b>Booking Distribution</b>",'x':0.5,
        'xanchor': 'center', 'yanchor': 'top'}, plot_bgcolor="#fdfdfe")

fig.update_xaxes(showgrid=False,tickfont_family="Arial Black", title_text="<b>Bookings</b>")
fig.update_yaxes(showgrid=False,tickfont_family="Arial Black", title_text="<b>Frequency</b>")
fig.show()

Most customers booking mostly once?

## Task 2

With no specific question for task two. I would explore the data. 
- Checking first the distribution of our bookings.

In [ ]:
fig = go.Figure()
fig.add_trace(go.Histogram(x=data_task2_filtered["bookings"],bingroup=30, marker_color="#01b44c"))


fig.update_layout( title_x=0.5, margin=dict(t=30,l=8,b=8,r=10), title={'text': "<b>Booking Distribution</b>",'x':0.5,
        'xanchor': 'center', 'yanchor': 'top'}, plot_bgcolor="#fdfdfe")

fig.update_xaxes(showgrid=False,tickfont_family="Arial Black", title_text="<b>Bookings</b>")
fig.update_yaxes(showgrid=False,tickfont_family="Arial Black", title_text="<b>Frequency</b>")
fig.show()

A greater share of bookings are within 1 and 2. Most users usually use GYG once? We sholud aim at promoting multiple bookings.

In [ ]:
fig = px.line(data_task2_filtered.groupby(data_task2_filtered['date_of_checkout'].dt.date)['customer_id_a'].nunique().reset_index(),
              x="date_of_checkout", y="customer_id_a", title="<b>Count of Bookings Over Time</b>")

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False,margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(line_color="#01b44c")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Date</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")
fig.show()

In [ ]:
fig = px.line(data_task2_filtered.groupby(data_task2_filtered['date_of_checkout'].dt.date)['gyg_campaign_id_a'].nunique().reset_index(),
              x="date_of_checkout", y="gyg_campaign_id_a", title="<b>GYG Campaigns Over Time</b>")

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False,margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(line_color="#01b44c")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Date</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")
fig.show()

In [ ]:
fig = px.line(data_task2_filtered.groupby([data_task2_filtered['date_of_checkout'].dt.date, data_task2_filtered["device_id_a"]])['bookings'].sum().reset_index(),
              x="date_of_checkout", y="bookings", color="device_id_a" ,title="<b>Device Bookings Over Time</b>",
             color_discrete_sequence=["#fc5a50","#6a79f7","#01b44c","#5d1451","#fd8d49"])

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=True,margin=dict(t=30,l=8,b=8,r=10),legend_title_text='Device Id')
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Date</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")

fig.show()

In [ ]:
fig = px.line(data_task2_filtered.groupby([data_task2_filtered['week'].dt.date, data_task2_filtered["device_id_a"]])['visitor_id_a'].nunique().reset_index(),
              x="week", y="visitor_id_a", color="device_id_a" ,title="<b>Device Visits Over Time</b>",
             color_discrete_sequence=["#fc5a50","#6a79f7","#01b44c","#5d1451","#fd8d49"])

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=True,margin=dict(t=30,l=8,b=8,r=10),legend_title_text='Device Id')
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Week</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")

fig.show()

In [ ]:
fig = px.line(data_task2_filtered.groupby([data_task2_filtered['week'].dt.date, data_task2_filtered["device_id_a"]])['session_id_a'].nunique().reset_index(),
              x="week", y="session_id_a", color="device_id_a" ,title="<b>Device Sessions Over Time</b>",
             color_discrete_sequence=["#fc5a50","#6a79f7","#01b44c","#5d1451","#fd8d49"])

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=True,margin=dict(t=30,l=8,b=8,r=10),legend_title_text='Device Id')
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Week</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>Count</b>")

fig.show()

Are the last devices the same devices we observe in the other data set? If so, this may require a deep dive if it is unexpected behaviour.

In [ ]:
fig = px.bar(data_task2_filtered.groupby("device_id_a")["gmv_eur"].sum().to_frame().sort_values(by ="gmv_eur", ascending=True).reset_index()
             , y='device_id_a', x='gmv_eur',title= "<b>Gross Merchandise Value by Device</b>",  text='gmv_eur')


fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False, margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside',marker_color = "#01b44c")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b> Device Type</b>")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b> GMV (Million)</b>")

fig.show()

In [ ]:

fig = px.bar(data_task2_filtered.groupby("device_id_a")["net_revenue"].sum().to_frame().sort_values(by ="net_revenue", ascending=True).reset_index()
             , y='device_id_a', x='net_revenue',title= "<b>Net Revenue by Device</b>",  text='net_revenue')


fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False, margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside',marker_color = "#01b44c")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b> Device Type </b>")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b> GMV (Million)</b>")

fig.show()

Unsurprisingly, top booking devices generate the highest revenues.

In [ ]:
campaign_users = data_task2_filtered.groupby("gyg_campaign_id_a")["customer_id_a"]\
.nunique().to_frame().sort_values(by ="customer_id_a", ascending=True).reset_index()
(campaign_users[campaign_users["gyg_campaign_id_a"]=="1670924195"]["customer_id_a"]/campaign_users["customer_id_a"].sum())*100

In [ ]:
gmv_by_campaign = data_task2_filtered.groupby("gyg_campaign_id_a")["gmv_eur"].sum().to_frame().sort_values(by ="gmv_eur", ascending=True).reset_index()
(gmv_by_campaign[gmv_by_campaign["gyg_campaign_id_a"]=="1670924195"]["gmv_eur"]/gmv_by_campaign["gmv_eur"].sum())*100

Campaign with ID 1670924195 had about 98% of the users and contributed to about 99% of GYG's GMV within this period.

In [ ]:
fig = px.line(data_task2_filtered.groupby(data_task2_filtered['checkout_month'])['gmv_eur'].sum().reset_index(),
              x="checkout_month", y="gmv_eur", title="<b>GMV by Month</b>", line_shape= "spline", markers= True)

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False,margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(line_color="#01b44c")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Month</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>GMV</b>")
fig.show()

In [ ]:
fig = px.line(data_task2_filtered.groupby(data_task2_filtered['checkout_month'])['net_revenue'].sum().reset_index(),
              x="checkout_month", y="net_revenue", title="<b>Net Revenue by Month</b>", line_shape= "spline", markers= True)

fig.update_layout(plot_bgcolor='white',title_x=0.5,showlegend=False,margin=dict(t=30,l=8,b=8,r=10))
fig.update_traces(line_color="#01b44c")
fig.update_xaxes(tickfont_family="Arial Black", title_text="<b>Checkout Month</b>")
fig.update_yaxes(tickfont_family="Arial Black", title_text="<b>GMV</b>")
fig.show()

GMV and Revenue kept increasing MoM and started droping from the begining of the year. Not enough data to make conclusions here as January and February are potentially low season months.

## Task 3

- There is a clear seasonal trend in bookings and this is driven majorly by attraction (ticket and walk tour) and day trips. Demand spike during the summer months and begin to drop afterwards. These activity categories are among the top GMV generators. However, the trend in booking on some devices are not encouraging as they do not improve even during the high season (they continuously contribute very less to GMV).
- But with incomplete and anonymised data, it is unclear which devices they are and drawing conclusions can be misleading.  
    - Which devices are these? Given I have context and expectations from these devices and complete data (at least a complete year with column values well defined), we can deep and run an a/b tests to improve booking on these devices. Key metrics would be GMV and number of bookings. 
        - Looking at the bigger picture, most users are only booking us once, which campaigns have we been running? how effective have they been? We can look at campaign offers to promote multiple bookings. Example, we can test out get x% off in your first x booking.

## Task 4

- Using the fact_checkout table below, the SQL query below would generate  a list of customer_ids and first checkout 
date for customers who have made their second checkout within 30 days of their first check out:

       
WITH
    metrics AS (SELECT DATE_TRUNC('day', date_of_checkout) AS checkout_date 
    ,customer_id_a AS customer_id
FROM fact_checkout),

adding_window AS (SELECT customer_id 
    ,checkout_date
    ,min(checkout_date) over (partition by customer_id order by checkout_date) as first_checkout_date
FROM metrics),

get_daily_cohort AS (SELECT customer_id
    ,checkout_date
    ,first_checkout_date
    ,DATEDIFF(checkout_date
    ,first_checkout_date) AS cohort_day
FROM adding_window)

SELECT first_checkout_date
    ,customer_id
FROM get_daily_cohort 
WHERE cohort_day >0 AND cohort_day <30;